@model IEnumerable<Order>
@{
    Layout = "/Areas/Identity/Pages/_Layout.cshtml";
    ViewData["Title"] = "User Order";
}





<div style="width:90%;margin:auto">

     @if (Model != null && Model.Count()>0)
    {
       <h1 class="text-center">Your Orders</h1>
        <h4 class="text-center">You Have @Model.Count() Orders</h4>

       @foreach(var order in Model)
        {
            <br />
            <br />
            <h4>Order Id:@order.Id</h4>
            <h4>Order Status: @order.OrderStatus.StatusName</h4>
            <h5>Order Date: @order.CreatedDate</h5>
            <table class="table table-bordered text-center">
            <tr>
                <th>Book</th>
                <th>Image</th>
                <th>Genre</th>
                <th>Unit Price</th>
                <th>Qty</th>
                <th>Total Price</th>
            </tr>
            
            @foreach(var item in order.OrderDetails)
            {
                    <tr>
                        <td>@item.Book.BookName</td>
                        <td><img src="https://picsum.photos/60/40" /></td>
                        <td>@item.Book.Genre.GenreName</td>
                        <td>@item.Book.Price</td>
                        <td>
                            <span id="itemqn"> @item.Quantity</span>

                        </td>
                        <td>@(item.Book.Price * item.Quantity)</td>
                    </tr>
            }
            </table>
            <div class="my-2">
                <h5>Total(INR) </h5>

            </div>
            
        }

    }
    else
    {
        <div class="align-content-center">

        <br>
        <br>
        <h3>You Have no Orders</h3>
            <a asp-controller="Home" asp-action="Index" class="btn btn-primary align-content-center">Go Back to Shop</a>
        </div>
    }



    </div>
